@*@model IEnumerable<Project_REPORT_v7.Models.LogTable>*@



@{
    ViewBag.Title = "Logs Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Logs</h2>

    @{ 
        Html.RenderAction("Filter", "LogTables");
    }
</div>
