body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

@media screen and (min-width: 800px) {
    .body-content {
        padding: 5px;
        max-width: none;
        width: 90%;
    }
    .container {
        max-width: 100%;
    }
}

ul.ui-autocomplete {
    z-index: 1100;
}

#progress {
    display: none;
}

#MainTask {
    display:initial;
}

ui-tabs-nav {
    background-color: #ffffff;
}

.slim {
    width: 35%;
}

.normal {
    width: 60%;
}

select.input-lg {
    height: 259px;
    padding: 10px 0px;
    font-size: 200px;
    line-height: 1.3333333;
    border-radius: 6px;
}

select.input-lg > option {
    height: 36px;
    font-size: 44px;
}

.required::after {
    content: " *";
    font-weight: bolder;
}

.bg-warning {
    width: 80%;
    padding: 10px 10px 10px 20px;
    font-weight: bolder:
}