body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 290px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

@media screen and (min-width: 800px) {
    .body-content {
        padding: 5px;
        max-width: none;
        width: 90%;
    }
    .container {
        max-width: 100%;
    }
}

ul.ui-autocomplete {
    z-index: 1100;
}

#progress {
    display: none;
}

#MainTask {
    display:initial;
}

ui-tabs-nav {
    background-color: #ffffff;
}

.slim {
    width: 35%;
}

.normal {
    width: 60%;
}

select.input-lg {
    height: 259px;
    padding: 10px 0px;
    font-size: 200px;
    line-height: 1.3333333;
    border-radius: 6px;
}

select.input-lg > option {
    height: 36px;
    font-size: 44px;
}

.required::after {
    content: " *";
    font-weight: bolder;
}

.bg-warning {
    width: 80%;
    padding: 10px 10px 10px 20px;
    font-weight: bolder:
}

.divider {
    position: relative;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(0, 0, 0), trasparent);
    background-image: -webkit-repeating-linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);
    background-image: -moz-repeating-linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);
    background-image: -o-linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);
    background-image: repeating-linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);
}

.div-arrow-down:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
    border-bottom: 1px solid rgb(48, 49, 51);
    border-right: 1px solid rgb(48, 49, 51);
}

.gallery {
    background-color: #ebebeb!important;
}

.GLOVIS {
    background-color: #ddd0c4!important;
}

.TRANSYS {
    background-color: #e4dfec!important;
}

.HMMC {
    background-color: #daeef3!important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #aaa;
    vertical-align: middle;
}

.left-aligh{
    float: left;
}

.crop {
    object-fit: cover;
    width: 111px;
    height: 111px;
}

.image_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.image {
    height: 111px;
    width: 111px;
    margin: 10px;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #469eff!important;
}

.display-reports {
    margin: 0 auto;
}
.light-offset {
    margin-left: 60px;
}

.table-dark {
    background-color: #343a40!important;
    color: #fff!important;
}