@model IEnumerable<Project_REPORT_v7.Models.ReportTable>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project REPORT</h1>
    <p class="lead">Prototype version 7.</p>
    <h4>More information: @Html.ActionLink("here","Information","Home")</h4>
</div>

<div>
    @{
        //Html.Partial("~/Views/ReportTables/IndexHome.cshtml");
        Html.RenderAction("IndexHome", "ReportTables");
     }

</div>