@model IEnumerable<Project_REPORT_v7.Models.ReportTable>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CCR Report</h1>
    <hr />
    <p>Web page style report system based on old Excel done for IT MES.</p>
    <p>Done in ASP.NET MVC. Although it works well, there is still room for improvement. I would appreciate it if you could report to me bugs or ideas for improvement.</p>
    <p>Working things are auto backup database, importing images, browsing reports within, some security with LDAP etc.</p>
    <p>Design is default by Bootstrap and few other things. Minimal graphics from me. That's not my forte. :)</p>
    <hr />
    <div>
        @Html.ActionLink( "Create Report", "Create", "ReportTables", null, htmlAttributes: new { @class = "btn btn-primary" } )
    </div>
</div>

<div>
    @{
        //Html.Partial("~/Views/ReportTables/IndexHome.cshtml");
        Html.RenderAction("IndexHome", "ReportTables");
     }

</div>