@model IEnumerable<Project_REPORT_v7.Models.ReportTable>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CCR Report</h1>
    <p class="lead">Web page style</p>
    <p>All problems or error please send an email with screenshots of error and how it could be repeated.</p>
    <p>Email:<strong>jiri.kukuczka@hyundai-autoever.cz</strong></p>
    <hr/>
    <div>
        @Html.ActionLink("Create Report", "Create", "ReportTables", htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>

<div>
    @{
        //Html.Partial("~/Views/ReportTables/IndexHome.cshtml");
        Html.RenderAction("IndexHome", "ReportTables");
     }

</div>