<div class="modal-header">
    <h3 class="modal-title">HELP - Information</h3>
</div>
<div class="divider div-transparent div-arrow-down"></div>
<br />
<div class="modal-body">
    <h4>Shortcuts</h4>
    <p>Little addon was added to quickly open modal windows for adding things to report. Shortcuts are:</p>
    <dl class="dl-horizontal">
        <dt>R or r</dt>
        <dd>Open a modular window with Add Re-Issue</dd>
        <dt>P or p</dt>
        <dd>Open a modular window with Add Printer</dd>
        <dt>C or c</dt>
        <dd>Open a modular window with Add Pre-Check</dd>
        <dt>W or w</dt>
        <dd>Open a modular window with Add Password</dd>
        <dt>H or h</dt>
        <dd>Open a modular window with Add Hour Overtime</dd>
        <dt>M or m</dt>
        <dd>Open a modular window with Add Main Task</dd>
    </dl>
    <p>Shortcuts only work if the page is in foreground and is in focus. Wont work when focus is on another window or is active write cursor at any inputs for data.</p>

    <div class="divider div-transparent div-arrow-down"><hr />   </div>
    <br />
    <h4>Requirement for filling forms</h4>
    <p>Each forms for adding - Re-Issue,Printers,PreCheck,Password,Hour Overtime,Main Task are required to fill except few inputs:</p>
    <dl class="dl-horizontal">
        <dt>Re-Issue</dt>
        <dd><strong><span class="text-danger text-uppercase">Each inputs must be filled!</span></strong></dd>
        <dt>Printers</dt>
        <dd><strong><span class="text-danger text-uppercase">Each inputs must be filled!</span></strong></dd>
        <dt>PreCheck</dt>
        <dd><strong><span class="text-danger text-uppercase">Time, System, Check - must be filled.</span></strong> Email Time can be empty.</dd>
        <dt>Password</dt>
        <dd><strong><span class="text-danger text-uppercase">Each inputs must be filled!</span></strong></dd>
        <dt>Hour OverTime</dt>
        <dd><strong><span class="text-danger text-uppercase">Time, Duration, Shop, Type, Description - must be filled!</span></strong> Cooperation can be empty.</dd>
        <dt>Main Task</dt>
        <dd><strong><span class="text-danger text-uppercase">Time, Duration, Shop, System, What happened, How it was solved - must be filled!</span></strong> Cooperation can be empty.</dd>
    </dl>
    <div class="divider div-transparent div-arrow-down"><hr /></div>
    <br />
    <h4>Adding Re-Issue</h4>
    <p>Adding re-issue could be with only one re-issue or multiple re-issues.</p>
    <p>For multiple re-issue must be body numbers/sequences separated with enter/new line. Example image bellow.</p>
    <img src="~/Content/Images/1.png" class="img-responsive img-thumbnail" alt="Add Re-Issue Multiple cars" />
    <p>This will seperate each of cars/sequences with same <strong>Time, Who, What</strong>.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>
